include mixin/_image

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(
			name='viewport',
			content='width=device-width, initial-scale=1.0, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		link(
			rel='shortcut icon',
			href=require(`../assets/images/favicon.png`),
			type='image/png')
		title Empty Project

		script(
			src='https://kit.fontawesome.com/23b8fb4e42.js',
			crossorigin='anonymous')

	body
		.wrapper
			.main
				include parts/header
				include parts/footer
			
