include mixin/_image

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(
			name="viewport",
			content="width=device-width, initial-scale=1.0, maximum-scale=1"
		)
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(
			rel="shortcut icon",
			href=require(`../assets/images/favicon.png`),
			type="image/png"
		)
		title Empty Project

		script(
			src="https://kit.fontawesome.com/23b8fb4e42.js",
			crossorigin="anonymous"
		)

	body
		.wrapper
			.main
				include parts/header
				section.contacts-page
					.contacts 
						.contacts-content
							.office
								.office__title.box-mb
									H2.office__title-text.title-text Офис
								.office__phone.box-mb
									.office__phone-content
										.office__phone-title.titles Телефон
										.office__phone-subtitle.subtitles 
											a(href="tel:+78005006340") 8 800 500 6340
								.office__mail.box-mb
									.office__mail-content
										.office__mail-title.titles E-mail
										.office__mail-subtitle.subtitles 
											a(href="mailto:order@promogroup.boo") order@promogroup.boo
								.office__hours.box-mb
									.office__hours-content
										.office__hours-title.titles Часы работы офиса
										.office__hours-subtitle.subtitles пн-пт с 9:30 до 18:30
								.office__adress.box-mb
									.office__adress-content
										.office__adress-title.titles Адрес
										.office__adress-subtitle.subtitles 4221, City, ул. Электродная, д.2
										.office__adress-link.links 
											a(href="") Посмотреть схему проезда

							.fold 
								.fold__title.box-mb
									H2.fold__title-text.title-text Склад
								.fold__hours.box-mb
									.fold__hours-title.titles Часы работы офиса
									.fold__hours-subtitle.subtitles пн-пт с 9:00 до 18:00
								.fold__adress.box-mb
									.fold__adress-title.titles Адрес
									.fold__adress-subtitle.subtitles City, ул. Ткацкая 4221
									.fold__adress-link.links 
										a(href="") Посмотреть схему проезда
						.contacts-btn
							a(href="") 
								button.contacts-btn__download Скачать реквизиты компании

					.form 
						.form__content
							.form__title
								H2.fold__title-text.title-text Оставить заявку
							.form__fields
								.form__field.name 
									input.form__field-input(type="text", placeholder="Имя")
								.form__field.email 
									input.form__field-input(type="text", placeholder="E-mail")
								.form__field.phone 
									input.form__field-input(type="text", placeholder="Телефон")
								.form__field.about
									input.form__field-input(
										type="text",
										placeholder="Расскажите о своем проекте"
									)
							.form__terms 
								p.form__terms-text
									| &Zcy;&acy;&pcy;&ocy;&lcy;&ncy;&yacy;&yacy; &fcy;&ocy;&rcy;&mcy;&ucy;, &vcy;&ycy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&acy;&iecy;&tcy;&iecy;&scy;&softcy; &ncy;&acy;
									a(href="#") &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&ucy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
									|
									| (&scy;&tcy;.9 &Fcy;&Zcy; &ocy;&tcy; 27.07.2006 &numero;152-&Fcy;&Zcy; &laquo;&Ocy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;&raquo;)

						.form-btn 
							a(href="") 
								button.form-btn__send Отправить запрос
				include parts/footer
